$color1:#FFFBF1;
@import '../Styles/resets';
@import './BookForm/BookForm.scss';
.Add {
    width: 100%;

    >form {
        
        margin: 0 auto;
        width: 90%;
        color: black;
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        

        >article {
            background-color: $color1;
            padding: 10px 0;
            margin-bottom: 5px;
            label {
                margin: 0 10px;
            }

            input[type="radio"] {
                padding: 20px 20px;
            }

            img {
                width: 10%;
            }

            .imgalign {

                float: left;

                width: 80%;
            }

            .cover {
                display: block;
            }
        }
        >.ad-form{
            @include InputStylingAdd();
        }
    }

}