@use "sass:math";
@import '../../Styles/resets','../../Styles/ScreenThresholds';
$color1:#03045E;
$color2:#00B4D8;
$color3:#90E0EF;
$color4:#CAF0F8;


@mixin offscreen {
    position: absolute;
    left: -9999px;
}

header {
    top:0;
    position:fixed;
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-flow: column;
    z-index: 20;
    .offscreen
    {
        @include offscreen();
    }
    >nav {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #24252A;

        >.Logo {
            color: $color4;
            @media (min-width:$tiny-threshhold)
            {
                margin-left: 2rem;
            }
            @media (max-width:$tiny-threshhold)
            {
                margin-left: 0.25rem;
            }
        }

        >.Links {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (min-width:$mobile-threshold) {
                >ul {
                    display: flex;
                    flex-direction: row;

                    >li {
                        margin: 0 0.25rem;
                        list-style-type: none;
                        color: $color4;
                        text-align: center;

                        >a,
                        >a:visited {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            color: $color4;
                            text-decoration: none;
                            padding: 0 3px;
                        }
                    }
                }
            }

            @media (max-width:$mobile-threshold) {
                >ul{
                     @include offscreen();
                }
            }

            >.Auth {
                position: relative;
                border: 0;
                border-radius: 50px;
                color: beige;
                background-color: $color2;
                font-size: 14px;
                padding: 0.25rem 0.55rem;
                margin-left: 0.5rem;
                margin-right: 1rem;
                @media (max-width:$tiny-threshhold) {
                    margin-left: 0;
                    margin-right: 0.5rem;
                }
            }

            .menu-icon {
                @media (min-width:$mobile-threshold) {
                    @include offscreen();
                }

                @media (max-width:$mobile-threshold) {
                    display: block;
                    background-color:  #24252A;
                    @media (min-width:$tiny-threshhold)
                    {
                        margin-right: 1rem;
                    }
                    @media (max-width:$tiny-threshhold) {
                        margin-right: 0.5rem;
                    }
                    border: 0;
                    padding: 0 2px;
                    font-size: 30px;
                    color: beige;
                }
            }

        }
        #mobile-nav
        {
            @media (min-width:$mobile-threshold) {
                @include offscreen();
            }
            @media (max-width:$mobile-threshold) {
                display: block;
                width: 100%;
                li
                {
                    border-bottom: solid 1px beige;
                    >a,
                    >a:visited {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        width: 100%;
                        color: $color4;
                        text-decoration: none;
                        padding: 0.25rem 3px;
                        font-size: 20px;
                        >span{
                            margin-left: 0.5rem
                        };
                    }
                }
            } 
            
        }
    }
}