@import '../Styles/AuthFont';
.ChangePassword {
    text-align: center;
     @mixin BorderRadius {
            @include FontProperty();
            border-radius: 0.5rem;
        }
    width: 96%;
    margin: 0  2%;
    >.controls {
       
        max-width:500px;
        width: 95%;
    }
    .buttons{
        transform: translateX(-50%);
        flex-shrink: 0;
        button {
            @include BorderRadius();
                margin-top: 1rem;


            
            text-align: center;
            padding: 0.25rem;
            
        }
        .cancel {
            margin-left: 0.5rem;

            color: red;
        }
    }
    >.ChangeButton {}
}