@import '../Styles/AuthFont','../Styles/resets';
  @mixin OnFocus {
    &:focus {
      outline: none;
    }
  }
.PasswordField {
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border:black 2px solid;
  border-radius: 0.5rem;

  &:focus-within {
    outline: black auto;
  }

  >input {
    min-width: 50px;
    display: block;
    @include FontProperty();
    padding: 0.25rem;
    flex: 1 1 10px;
    @include OnFocus();
    border: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

  }

  >button {
    margin-top: 0px;
    @include FontProperty();
    padding: 0.25rem 0.75rem;
    flex: 0 0 50px;
    background-color: #fff;
    @include OnFocus();
    border: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}