@import '../../Styles/resets','../../Styles/ScreenThresholds';

@mixin OnFocus {
    &:focus {
        outline: none;
    }
}

.SearchMenu {

    flex: 1 1 10px;
    max-width: 600px;
    width: 80%;
    min-width: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: #fff;

    &:focus-within {
        outline: black auto;
    }

    >.inputs {
        flex: 1 1 150px;
        min-width: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        $border:1px solid gray;
        @mixin Input {
             min-width: 10px;
            font-size: 22px; 
            border: 0;
            padding-left: 0.25rem;
            @include OnFocus();
            flex-basis: 180px;
            flex-shrink: 0
        }
        >.ad {
           @include Input();
           border-bottom: $border;
            border-right: $border;
            flex-grow: 4;
            
            @media (max-width:calc(539px))
            {
                border-right: 0;
            }
        }
        >.author{
            @include Input();
            border-bottom: $border;
            border-right: 0;
            flex-grow: 2;
        }
        >.genre
        {
            @include Input();
            flex-grow: 5;
            flex-basis: 180px;
            @media (min-width:calc(764px))
            {
                border-left: $border;
                border-bottom: $border;
            } 
            @media (max-width:calc(763px))
            {
                border-right: $border;
                @media (max-width:calc(539px))
                {
                    border-right: 0;
                    border-bottom: $border;
                }
            }
        }
        >.book{
            @include Input();
            border-right: 0;
            flex-grow: 1;
            border-bottom: 0;
        } 
    }

    >.Search-Button {
        height: 80%;
        font-size: 22px;
        margin-top: 0px;
        padding: 0.25rem 0.75rem;
        flex: 0 0 50px;
        background-color: #fff;
        border: 0;
        border-left: 1px solid gray;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        @include OnFocus();
    }


}