@import '../../Styles/resets';
@mixin OnFocus {
    &:focus {
        outline: none;
    }
}
.SearchFieldBar{
    flex: 1 1 10px;
    max-width: 400px;
    width: 80%;
    min-width: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    border: black 1px solid;
    border-radius:50px;
    padding: 0.25rem;
    background-color: #fff;

    &:focus-within {
        outline: black auto;
    }

   >input{
       width: 100%;
    min-width: 10px;
    font-size: 18px; 
    border: 0;
    padding-left: 0.25rem;
     @include OnFocus();
    flex: 1 1 180px;
    min-width: 180px;
   };

    >.Search-Button {
        height: 80%;
        font-size: 18px;
        text-align: center;
        margin-top: 0px;
        padding: 0.25rem 0.75rem;
        flex: 0 0 50px;
        background-color: #fff;
        border: 0;
        border-left: 1px solid gray;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        @include OnFocus();
    }
}