$color1:#24252A;
$color2:#CAF0F8;

footer {
    background: $color1;
    display: flex;
    gap: 3rem;
    padding:  0.5rem 0 0.65rem 0.35rem;
    >a,
    a:visited {
        font-size: 20px;
        color: $color2;
    }
}